.Secrets {

  //.WindowBlock__body {
  //  padding-bottom: 100px;
  //  overflow: hidden;
  //  height: 100%;
  //}

  .form {
    height: 100%;
  }

  .text-box--small {
    padding-bottom: 15px;
  }

  .message {
    &_body {
      margin: 12px;
    }
  }
}